<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.words.hangmangame" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HangmanIntroQuestion"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HangmanGameActivity"
            android:label="@string/title_activity_hangman_game" >
        </activity>
        <activity
            android:name=".AtWhatLettersActivity"
            android:label="@string/title_activity_at_what_letters" >
        </activity>
    </application>

</manifest>
